{% extends 'gestao_pirotech_app/layouts/public_layout.html' %}
<!--Separação-->
{% block title %}Login - Pirotech {% endblock title %}
<!--Separação-->
{% block main_content %}
<h2 class="text-2xl font-bold text-center text-pirotech-preto mb-6">Login</h2>
<form
  method="POST"
  action="{% url 'gestao-login' %}"
  class="flex flex-col items-center gap-y-3"
>
  {% csrf_token %}
  <div>
    <label for="username" class="block text-sm font-medium text-pirotech-preto"
      >Nome de Usuário</label
    >
    <input
      type="text"
      id="username"
      placeholder="Username..."
      name="username"
      class="block w-[250px] h-[35px] px-3 py-2 rounded-lg shadow-sm text-pirotech-preto border border-pirotech-cinza focus:ring-2 focus:ring-pirotech-roxo-default focus:border-pirotech-roxo-default placeholder:text-pirotech-cinza outline-none transition-all duration-200 ease-in-out"
    />
  </div>
  <div>
    <label for="senha" class="block text-sm font-medium text-pirotech-preto"
      >Senha</label
    >
    <input
      type="password"
      id="senha"
      placeholder="Senha..."
      name="senha"
      class="block w-[250px] h-[35px] px-3 py-2 rounded-lg shadow-sm text-pirotech-preto border border-pirotech-cinza focus:ring-2 focus:ring-pirotech-roxo-default focus:border-pirotech-roxo-default placeholder:text-pirotech-cinza outline-none transition-all duration-200 ease-in-out"
    />
  </div>
  <div class="pt-3">
    <button
      type="submit"
      class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-pirotech-cinza rounded-lg group bg-gradient-to-br from-pirotech-roxo-dark to-pirotech-roxo-light group-hover:from-pirotech-roxo-dark group-hover:to-pirotech-roxo-light hover:text-pirotech-branco dark:text-pirotech-branco focus:ring-4 focus:outline-none focus:ring-pirotech-roxo-default dark:focus:ring-pirotech-roxo-dark"
      value="Cadastrar"
    >
      <span
        class="w-[200px] relative px-5 py-2.5 transition-all ease-in duration-75 bg-pirotech-branco dark:bg-pirotech-preto rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent"
      >
        Entrar
      </span>
    </button>
  </div>
  {% if messages %}
  <div>
    {% for message in messages %}
    <div
      class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100"
      role="alert"
    >
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="text-black flex justify-center pt-5">
    <p>
      Ainda não tem uma conta?
      <a
        href="{% url 'gestao-cadastro' %}"
        class="font-semibold text-pirotech-roxo-dark hover:text-pirotech-roxo-light focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pirotech-roxo-default"
      >
        Cadastre-se aqui
      </a>
    </p>
  </div>
  {% endblock main_content %}
</form>
