{% extends 'gestao_pirotech_app/base.html' %} {% load static %}
<!--Separação-->
{% block body_content %}
<div class="w-screen h-screen flex">
  <div
    class="relative w-1/2 h-full bg-cover bg-center hidden md:block bg-fundo-racoes"
  >
    <div
      class="absolute inset-0 bg-pirotech-preto/70 flex justify-center items-center"
    >
      <h1 class="text-6xl font-black text-pirotech-branco tracking-widest">
        PIROTECH
      </h1>
    </div>
  </div>

  <div
    class="w-full md:w-1/2 h-full flex justify-center items-center bg-pirotech-preto p-8"
  >
    <div
      class="w-full max-w-md bg-pirotech-branco rounded-lg shadow-2xl p-8 text-pirotech-preto"
    >
      {% block main_content %}{% endblock main_content %}
    </div>
  </div>
</div>
{% endblock body_content %}
